$clr-dark: #222126;
$clr-brown: #a66953;
$clr-white: #f2f2f2;
$clr-gray-light: #d9d9d9;
$clr-gray-dark: #a6a6a6;

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;500;700&display=swap");

$ff-headings: "Alfa Slab One", cursive;
$ff-main: "Poppins", sans-serif;

// Borders & margins
$border-radius: 0.25rem;
